@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.register {
    padding: 3rem 2rem;
}

.register-img-section {
    display: none;
}

.form {
    margin: 2.5rem 0;
}

.form h1 {
    margin-bottom: 1.5rem;
}

.form label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.form div:nth-child(3), .form div:nth-child(5), .form div:nth-child(7) {
    margin-bottom: 1.1rem;
    padding-right: .4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(156, 154, 154);
    border-radius: 5px;
}

.email input, .name input, .password input {
    border: transparent;
    outline: none;
    padding: 1rem 0 1rem .4rem;
}

.form div input::placeholder {
    font-size: 1rem;
}

.terms {
    margin-top: 1.5rem;
    border: transparent;
    display: flex;
    justify-content: flex-start;
}

.terms input {
    margin-top: .1rem;
    margin-right: .6rem;
}

.terms aside {
    font-size: 1.062rem;
    text-align: justify;
}

.terms a {
    font-weight: bold;
}

.form button {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem 0;
    border: transparent;
    border-radius: 5px;
    background-color: #6d00d5;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1rem;
    color: white;
}

.current-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-user aside {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.current-user a {
    font-size: 1.1rem;
}

@media only screen and (min-width:375px) {
    .current-user {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .current-user aside {
        margin: 0;
    }
    .current-user a {
        display: inline;
        margin-left: .4rem;
    }
}

@media only screen and (min-width:768px) {
    .register {
        background-color: #6d00d5;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .register-container {
        background-color: white;
        padding: 2em;
        border-radius: 10px;
    }
}

@media only screen and (min-width:870px) {
    .register {
        width: 100%;
        height: 100vh;
        padding: 0;
        background-color: transparent;
    }
    .register-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:"input img";
        margin: 0;
        padding: 0;
        border: none;
    }
    .register-img-section {
        grid-area: img;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #6d00d5;
        padding: 5rem;
    }
    .register-img-section img {
        width: 22em;
    }
    .img-text {
        width: 100%;
        margin-top: 1em;
    }
    .img-text h2 {
        color: white;
        text-align: center;
    }
    .img-text p {
        font-size: 1.2rem;
        text-align: center;
        margin-top: 1em;
        color: white;
    }
    .dots {
        margin: 1em 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dots span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(202, 194, 194, .6);
        margin-right: .8rem;
    }
    .dots span:nth-child(1) {
        background-color: white;
    }
    .register-inputs {
        grid-area: input;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2em;
    }
}