@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100vw;
    max-width: 100%;
    padding: 2rem 2rem 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fbf8f2;
}

.header h1 {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.hero {
    background: #fbf8f2;
    max-width: 100%;
    padding-bottom: 1rem;
}

.hero-container {
    margin: 0 2rem;
}

.hero-img img,.trial-img img{
    width: 100%;
}

.hero-content h2{
    margin: 1.1rem 0;
    word-spacing: 1px;
}

.hero-content p,.trial-content p{
    font-size: 1rem;
    margin: 1.1rem 0;
    letter-spacing: 1px;
    color: #545454;
}

.hero-btn,.trial-btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
    align-items: center;
}

.hero-btn button, .trial-btn button{
    width: 100%;
    padding: 1.1rem 0;
    margin-bottom: .8rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    background: #6d00d5;
    border: transparent;
    border-radius: 6px;
    color: white;
    letter-spacing: 1px;
}

.hero-btn a {
    font-weight: bold;
    letter-spacing: .5px;
    border-bottom: 2px solid #4700b3;
    color: #4700b3;
}

.hero-features {
    margin-bottom: 2rem;
}

.hero-features li {
    display: flex;
    align-items: center;
    margin-bottom: .8rem;
}

.hero-features li img {
    margin-right: .5rem;
}

.hero-features li span {
    font-size: .9rem;
}

.features {
    padding: 4rem 2rem;
}

.features-heading {
    margin-bottom: 1.5rem;
}

.features-heading h3 {
    margin-bottom: 1rem;
    color: #6d00d5;
    letter-spacing: 1px;
}

.features-heading h2 {
    word-spacing: 1px;
}

.features-content {
    display: flex;
    flex-direction: column;
}

.features-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.6rem;
}

.features-box h3 {
    margin: 1.2rem 0;
    letter-spacing: 1px;
}

.features-box p {
    font-size: 1.062rem;
    text-align: center;
}

.trial-section{
    color: white;
    margin: 0 2rem 2rem 2rem;
    background: #6d00d5;
    border-radius: 6px;
}

.trial-container{
    padding:1.5rem 1.5rem 0 1.5rem;
}

.trial-content p{
    font-size: 1.1rem;
    color: white;
}

.trial-btn button{
    background-color: white;
    color: #6d00d5;
}

.testimonials{
  margin:3rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-container
{
    margin: 0 2rem;
}

.testimonial-box{
    border: 1px solid #d9d9d9;
    box-shadow: 0px 6px 3px 0px #cac7c7;
    margin-bottom: 1.5rem;
    padding:1rem;
}
.testimonial-header{
    display: flex;
    align-items: center;
}

.user-info{
    margin-left: .4rem;
}
.user-info h3{
    font-size: 1rem;
    color: #6d00d5;
}
.user-info h5{
    font-weight: 500;
}
.testimonial-body{
    margin: .8rem 0;
}

.testimonial-body p{
    font-size: 1rem;
    text-align: justify;
}
.portfolio-btn button{
    width: 100%;
    padding: .8rem;
    font-weight: bold;
    color: #6d00d5;
    border: transparent;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    background-color: white;
    
}

.footer{
    width: 100%;
    background-color:#fbf8f2;
    padding: 2rem;
}

.footer-content{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    grid-template-areas: "footer-header" "one" "two" "three" "four";
    row-gap: 1rem;
}

.footer-discription{
    grid-area: footer-header;
}

.footer-links.one{
    grid-area: one;
}
.footer-links.two{
    grid-area: two;
}
.footer-links.three{
    grid-area: three;
}
.footer-links.four{
    grid-area: four;
}

.footer-discription p{
    margin: 1rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #545454;
}

.footer-discription aside{
    margin-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #545454;
}

.footer-links h2{
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.link-items li{
    margin-bottom: .4rem;
}
.link-items li a{
    font-size: 1.1rem;
    color: #545454;
}


@media only screen and (min-width:375px) {
    .hero-features li span {
        font-size: 1.062rem;
    }
    .testimonials{
        margin:3.5rem 0;
    }

    
    .testimonial-box{
        margin-bottom: 2rem;
        padding:1rem 1.5rem;
    }
    .user-info{
        margin-left: .5rem;
    }

    .user-info h3{
        font-size: normal;
    }
    .user-info h5{
        font-weight: 600;
    }

    .testimonial-body{
        margin: 1rem 0;
    }

    .testimonial-body p{
        font-size: 1.1rem;
        text-align: justify;
    }
    .portfolio-btn button{
        font-size: 1rem; 
    }
}